attrs==19.3.0
bson==0.5.9
certifi==2020.4.5.1
chardet==3.0.4
click==7.1.1
codecov==2.0.22
coverage==5.0.4
cycler==0.10.0
Flask==1.1.2
furl==2.1.0
idna==2.9
itsdangerous==1.1.0
Jinja2==2.11.1
kiwisolver==1.2.0
MarkupSafe==1.1.1
matplotlib==3.2.1
more-itertools==8.2.0
numpy==1.18.4
orderedmultidict==1.0.1
packaging==20.3
pika==1.1.0
Pillow==7.1.2
pluggy==0.13.1
protobuf==3.11.3
py==1.8.1
pymongo==3.10.1
pyparsing==2.4.7
pytest==5.4.1
pytest-cov==2.8.1
python-dateutil==2.8.1
requests==2.23.0
six==1.14.0
urllib3==1.25.8
wcwidth==0.1.9
Werkzeug==1.0.1
